:root {
  --accent-color: #2196f3;
  --logo-color: #000;
  --h1-color: #fff;
  --button-color: #2196f3;
  --h2-color: #212121;
  --team-bg:#F5F4FA;

  --p-color: #757575;
  --futer-bagraund: #2f303a;
}

.conteiner{
  outline: 1px solid red;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


}

.logo-heder{
  display: flex;
  align-items: center;
}


 
body {
  font-family: Roboto;
}

.logo{
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-link{
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
margin-right: 93px;
}

  .logo-items{
    display: flex;
    gap: 50px;
    margin-left: auto;
  }

  .logo-list{
    display: flex;
    gap: 50px;
  }

.logo-color {
  color: var(--accent-color);
}

.logo-pages {
  color: var(--h2-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.logo-pages:hover {
  color: var(--accent-color);
}

.logo-contakt {
  color: var(--p-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.logo-contakt:hover {
  color: var(--accent-color);
}

.hero {
  background-color: var(--futer-bagraund);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  color: var(--h1-color);

  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-button {
  color: var(--h1-color);

  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-top: 10px;
padding-bottom: 10px;
padding-right: 32px;
padding-left: 32px;
border: none;

}

.work{
  padding-top: 94px;
  padding-bottom: 94px;
  
}

.work-list{
  display: flex;
  gap: 30px;
}



.work-pic {
  color: var(--h2-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work-desc {
  color: var(--p-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.engage{
  padding-bottom: 94px;
}

.engage-list{
  display: flex;
  gap: 30px;
}


.engage-title {
  color: var(--h2-color);

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team{
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bg);
}


.team-title{
  text-align: center;
  margin-bottom: 50px;
  color: #212121;

  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-img{
  width: 270px;
  height: 260px;
  gap: 30px;

}

.team-box{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--h1-color);
}

.team-list{
  display: flex;
  gap: 30px;
}


.team-pic {
  color: var(--h2-color);

  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
margin-bottom: 10px;
}

.team-desc {
  color: var(--p-color);

  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.button{
  padding-bottom: 94px;
  padding-top: 94px;
}

.button-list{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-items{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px)3);
}

.button-itm{
  outline: 1px solid #EEE;
}

.button-img{
  width: 100%;
}

.button-wrap{
  padding: 20px 24px;
}


.button-button {
  color: var(--h2-color);
border: none;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  padding: 6px 22px;
  border-radius: 4px;
}

.button-button:hover{
  color: var(--h1-color);
  background-color: var(--accent-color);
}

.button-title {
  color: var(--h2-color);

  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.button-text {
  color: var(--p-color);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}

.ne{
  background-color: var(--futer-bagraund);
  padding-bottom: 60px;
  padding-top: 60px;
}




.ne-item{
  margin-bottom: 9px;
}

.ne-item:last-child{
  margin-bottom: 0;
}

.ne-linke {
  color: #FFF;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  
}

.ne-itemm{
  margin-bottom: 20px;
}

.ne-color {
  color: var(--accent-color);
}

.ne-linkee {
  color: var(--h1-color);

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.ne-link {
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}




